<ion-header>
  <ion-toolbar>
    <ion-title>{{peliculaSeleccionada.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides class="sliderSuperior" pager="false" [options]="slideOptsPeliculas" (ionSlideDidChange)="showActors($event)" #slidePeliculas>
    <ion-slide *ngFor="let p of peliculas">
      <ion-card>
        <img src="https://image.tmdb.org/t/p/w500{{p.poster_path}}" />
        <ion-card-header>
          <ion-card-subtitle>Subtitulo</ion-card-subtitle>
          <ion-card-title>Titulo</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          contenido
        </ion-card-content>
      </ion-card>
      
    </ion-slide>
  </ion-slides>

  <ion-slides class="sliderInferior" pager="false" [options]="slideOptsActores" #slideActores>
    <ion-slide *ngFor="let a of actores">
      <img src="https://image.tmdb.org/t/p/w500{{a.profile_path}}" />
    </ion-slide>
  </ion-slides>  

</ion-content>
